# Titanic - Machine Learning from Disaster

## Imports

In [2]:
import opendatasets as od

In [3]:
import pandas as pd

In [4]:
import numpy as np

## 1. Getting the Data

In [5]:
!pip install opendatasets

Requirement already satisfied: opendatasets in c:\users\torju\programming\anaconda\lib\site-packages (0.1.22)
Requirement already satisfied: tqdm in c:\users\torju\programming\anaconda\lib\site-packages (from opendatasets) (4.59.0)
Requirement already satisfied: click in c:\users\torju\programming\anaconda\lib\site-packages (from opendatasets) (7.1.2)
Requirement already satisfied: kaggle in c:\users\torju\programming\anaconda\lib\site-packages (from opendatasets) (1.5.12)
Requirement already satisfied: certifi in c:\users\torju\programming\anaconda\lib\site-packages (from kaggle->opendatasets) (2020.12.5)
Requirement already satisfied: python-dateutil in c:\users\torju\programming\anaconda\lib\site-packages (from kaggle->opendatasets) (2.8.1)
Requirement already satisfied: requests in c:\users\torju\programming\anaconda\lib\site-packages (from kaggle->opendatasets) (2.25.1)
Requirement already satisfied: urllib3 in c:\users\torju\programming\anaconda\lib\site-packages (from kaggle->opendatasets) (1.26.4)
Requirement already satisfied: python-slugify in c:\users\torju\programming\anaconda\lib\site-packages (from kaggle->opendatasets) (6.1.2)
Requirement already satisfied: six>=1.10 in c:\users\torju\programming\anaconda\lib\site-packages (from kaggle->opendatasets) (1.15.0)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\torju\programming\anaconda\lib\site-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\torju\programming\anaconda\lib\site-packages (from requests->kaggle->opendatasets) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\torju\programming\anaconda\lib\site-packages (from requests->kaggle->opendatasets) (2.10)

In [6]:
od.download("https://www.kaggle.com/competitions/titanic/data")

Skipping, found downloaded files in ".\titanic" (use force=True to force download)

In [7]:
train_set = pd.read_csv('titanic/train.csv')

In [8]:
test_set = pd.read_csv('titanic/test.csv')

In [9]:
survived = pd.read_csv('titanic/gender_submission.csv')

In [10]:
train_set.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [11]:
survived.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

## 2. Studying the Data

In [12]:
np.where(pd.isnull(train_set['Cabin']))

(array([  0,   2,   4,   5,   7,   8,   9,  12,  13,  14,  15,  16,  17,
         18,  19,  20,  22,  24,  25,  26,  28,  29,  30,  32,  33,  34,
         35,  36,  37,  38,  39,  40,  41,  42,  43,  44,  45,  46,  47,
         48,  49,  50,  51,  53,  56,  57,  58,  59,  60,  63,  64,  65,
         67,  68,  69,  70,  71,  72,  73,  74,  76,  77,  78,  79,  80,
         81,  82,  83,  84,  85,  86,  87,  89,  90,  91,  93,  94,  95,
         98,  99, 100, 101, 103, 104, 105, 106, 107, 108, 109, 111, 112,
        113, 114, 115, 116, 117, 119, 120, 121, 122, 125, 126, 127, 129,
        130, 131, 132, 133, 134, 135, 138, 140, 141, 142, 143, 144, 145,
        146, 147, 149, 150, 152, 153, 154, 155, 156, 157, 158, 159, 160,
        161, 162, 163, 164, 165, 167, 168, 169, 171, 172, 173, 175, 176,
        178, 179, 180, 181, 182, 184, 186, 187, 188, 189, 190, 191, 192,
        196, 197, 198, 199, 200, 201, 202, 203, 204, 206, 207, 208, 210,
        211, 212, 213, 214, 216, 217, 219, 220, 221, 222, 223, 225, 226,
        227, 228, 229, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240,
        241, 242, 243, 244, 246, 247, 249, 250, 253, 254, 255, 256, 258,
        259, 260, 261, 264, 265, 266, 267, 270, 271, 272, 274, 276, 277,
        278, 279, 280, 281, 282, 283, 285, 286, 287, 288, 289, 290, 293,
        294, 295, 296, 300, 301, 302, 304, 306, 308, 312, 313, 314, 315,
        316, 317, 320, 321, 322, 323, 324, 326, 328, 330, 333, 334, 335,
        338, 342, 343, 344, 346, 347, 348, 349, 350, 352, 353, 354, 355,
        357, 358, 359, 360, 361, 362, 363, 364, 365, 367, 368, 371, 372,
        373, 374, 375, 376, 378, 379, 380, 381, 382, 383, 384, 385, 386,
        387, 388, 389, 391, 392, 395, 396, 397, 398, 399, 400, 401, 402,
        403, 404, 405, 406, 407, 408, 409, 410, 411, 413, 414, 415, 416,
        417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 431,
        432, 433, 436, 437, 439, 440, 441, 442, 443, 444, 446, 447, 448,
        450, 451, 454, 455, 458, 459, 461, 463, 464, 465, 466, 467, 468,
        469, 470, 471, 472, 474, 476, 477, 478, 479, 480, 481, 482, 483,
        485, 488, 489, 490, 491, 493, 494, 495, 497, 499, 500, 501, 502,
        503, 506, 507, 508, 509, 510, 511, 513, 514, 517, 518, 519, 521,
        522, 524, 525, 526, 528, 529, 530, 531, 532, 533, 534, 535, 537,
        538, 541, 542, 543, 545, 546, 547, 548, 549, 551, 552, 553, 554,
        555, 557, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569,
        570, 573, 574, 575, 576, 578, 579, 580, 582, 584, 586, 588, 589,
        590, 592, 593, 594, 595, 596, 597, 598, 600, 601, 602, 603, 604,
        605, 606, 607, 608, 610, 611, 612, 613, 614, 615, 616, 617, 619,
        620, 622, 623, 624, 626, 628, 629, 631, 633, 634, 635, 636, 637,
        638, 639, 640, 642, 643, 644, 646, 648, 649, 650, 651, 652, 653,
        654, 655, 656, 657, 658, 660, 661, 663, 664, 665, 666, 667, 668,
        670, 672, 673, 674, 675, 676, 677, 678, 680, 682, 683, 684, 685,
        686, 687, 688, 691, 692, 693, 694, 695, 696, 697, 702, 703, 704,
        705, 706, 708, 709, 713, 714, 718, 719, 720, 721, 722, 723, 725,
        726, 727, 728, 729, 731, 732, 733, 734, 735, 736, 738, 739, 743,
        744, 746, 747, 749, 750, 752, 753, 754, 755, 756, 757, 758, 760,
        761, 762, 764, 766, 767, 768, 769, 770, 771, 773, 774, 775, 777,
        778, 780, 783, 784, 785, 786, 787, 788, 790, 791, 792, 793, 794,
        795, 797, 798, 799, 800, 801, 803, 804, 805, 807, 808, 810, 811,
        812, 813, 814, 816, 817, 818, 819, 821, 822, 824, 825, 826, 827,
        828, 830, 831, 832, 833, 834, 836, 837, 838, 840, 841, 842, 843,
        844, 845, 846, 847, 848, 850, 851, 852, 854, 855, 856, 858, 859,
        860, 861, 863, 864, 865, 866, 868, 869, 870, 873, 874, 875, 876,
        877, 878, 880, 881, 882, 883, 884, 885, 886, 888, 890], dtype=int64),)